// COLOR
$light-100: #fff;
$light-200: #f7f7f7;

$dark-100: #1A202C;

$grey-100: #767676;

$primary-100: #2B6CB0;
$primary-200: #04C35C;


// TYPES
$font-title: 'Merriweather', sans-serif;
$font-body: 'Lato', sans-serif;
