@use './variables';

.header{
  padding-block: 1.6rem;

  .container{
    nav{
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo{
        font-family: variables.$font-title;
        font-weight: 400;
        font-size: 2.4rem;
        line-height: 150%;
        color: variables.$primary-100;
      }

      .menu-desktop{
        display: flex;
        align-items: center;
        gap: 1.8rem;

        li{
          a{
            padding: .4rem;
            transition: all .1s ease-in-out;

            &:is(:hover, :focus){
              border-bottom: 2px solid variables.$primary-100;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 540px) {
    .container{
      nav{
        .menu-desktop{
          display: none;
        }
      }
    }
  }
}
