// COLOR
$light-100: #FEFBFB;

$dark-100: #13131F;
$dark-200: #282830;

$grey-100: #C4C4C4;

$primary-100: #8257E6;
$primary-200: red;


// TYPES
$font-title: 'Lexend Deca', sans-serif;
$font-body: 'Inter', sans-serif;