@use './variables';

.header-section{
  width: 100%;
  margin-bottom: 4rem;
  text-align: center;

  h2{
    font-family: variables.$font-title;
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 110%;
    color: variables.$dark-100;
    margin-bottom: 1.6rem;
  }

  p{
    font-weight: 500;
    font-size: 2rem;
    line-height: 150%;
    color: variables.$dark-200;
  }
}