// COLOR
$light-100: #fff;
$light-200: #f7f7f7;

$dark-100: #2B2B2B;
$dark-200: #555555;

$grey-100: #D7D4FF;

$primary-100: #6C63FF;


// TYPES
$font-title: 'Merriweather', sans-serif;
$font-body: 'Lato', sans-serif;
