@use './variables';

.footer{
  padding-block: 2.4rem;
  background: variables.$light-100;
  text-align: center;

  p{
    margin-bottom: 1.6rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 150%;
    color: variables.$grey-100;
    width: 100%;
    max-width: 50rem;
    margin-inline: auto;
  }

  a{
    color: variables.$grey-100;
  }
}