// COLOR
$light-100: #fff;
$light-200: #FEF6F4;
$light-300: #FFD4C9;

$dark-100: #2E2E2E;
$red: #CF3031;
$green: #5C913B;
$yellow: #FFA200;

$grey-100: #616161;
$grey-200: #FCFCFC;


// TYPES
$font-body: 'Sora', sans-serif;
