// COLOR
$light-100: #F9F9F9;
$light-200: #EAEAEA;
$light-300: #F2F2F2;
$light-400: #fff;

$dark-100: #2F2F2F;

$grey-100: #848484;

$primary-100: #6610F2;


// TYPES
$font-title: 'Lora', sans-serif;
$font-body: 'Inter', sans-serif;
