@use "./variables" as *;

// FONTS
.font-title,
.font-subtitle,
.font-body {
  font-family: $font-inter;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.font-title {
  font-weight: 700;
}

.font-subtitle {
  font-weight: 600;
}

.font-body {
  font-weight: 500;
}
