@use './variables';


.navbar{
  padding-block: 16px;

  .container{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo{
      font-family: variables.$font-title;
      font-weight: 700;
      font-size: 4rem;
      line-height: 100%;

      background: linear-gradient(264.26deg, #FF267A 0%, #FFA634 101.03%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }

    .menu-desktop{
      display: flex;
      align-items: center;
      gap: 24px;

      li{
        a{
          padding: 4px;
          font-weight: 600;
          font-size: 1.8rem;
          line-height: 100%;
          color: variables.$light-100;
          transition: all .3s ease-in-out;

          &:is(:hover, :focus){
            filter: brightness(.8);
          }
        }
      }
    }
  }
}