// COLOR
$light-100: #FFFFFF;

$dark-100: #121212;

$grey-100: #404040;

$primary-100: #DA2535;
$primary-200: #F7C7B9;
$primary-300: #FEF6F4;

// TYPES
$font-body: 'Poppins', sans-serif;
